Repository Unidata/netcdf-java, pull requests merged in 2022-10, with the labels that each got.

#1095 Add runtime support for AWS Security Token Service
  cdm/s3/build.gradle
  netcdf-java-platform/build.gradle
Labels: enhancement, gradle

#1097 Exclude netty nio client from aws sts dependency
  cdm/s3/build.gradle
Labels: gradle

#1104 Make time unit compatible with udunit whitespace
  cdm/core/src/main/java/ucar/nc2/time/CalendarDateUnit.java
  cdm/core/src/test/java/ucar/nc2/time/TestCalendars.java
Labels: enhancement, internal: udunits
