Repository Unidata/netcdf-java, pull requests merged in 2024-12, with the labels that each got.

#1398 Upgrade github actions
  .github/CODEOWNERS
  .github/workflows/deps.yml
  .github/workflows/docs-tutorials.yml
  .github/workflows/docs.yml
  .github/workflows/style.yml
  .github/workflows/tds-check.yml
  opendap/src/test/java/ucar/nc2/dods/TestDodsV.java
Labels: build: github

#1396 Enhance Bufr data support including multi-category messages
  bufr/src/main/java/ucar/nc2/iosp/bufr/BufrConfig.java
  bufr/src/main/java/ucar/nc2/iosp/bufr/BufrIosp2.java
  bufr/src/main/java/ucar/nc2/iosp/bufr/BufrIospBuilder.java
  bufr/src/main/java/ucar/nc2/iosp/bufr/BufrTableLookup.java
  bufr/src/main/java/ucar/nc2/iosp/bufr/Construct2.java
  bufr/src/main/java/ucar/nc2/iosp/bufr/EmbeddedTable.java
  bufr/src/main/java/ucar/nc2/iosp/bufr/TableLookup.java
  bufr/src/main/java/ucar/nc2/iosp/bufr/tables/TableA.java
  bufr/src/main/resources/resources/bufrTables/local/cma/cma_bufr_tableb.csv
  bufr/src/main/resources/resources/bufrTables/local/cma/cma_bufr_tabled.csv
  bufr/src/main/resources/resources/bufrTables/local/tablelookup.csv
  cdm/core/src/main/java/ucar/ma2/ArraySequence.java
  cdm/core/src/main/java/ucar/nc2/Variable.java
Labels: enhancement, iosp: bufr

#1400 bump logback version
  netcdf-java-platform/build.gradle
Labels: build: gradle
