Repository Unidata/netcdf-java, pull requests merged in 2025-03, with the labels that each got.

#1423 Remove duplication of global metadata creation for BUFR
  bufr/src/main/java/ucar/nc2/iosp/bufr/BufrIospBuilder.java
  cdm/gcdm/src/test/java/ucar/gcdm/TestGcdmNetcdfFile.java
Labels: bug, iosp: bufr

#1424 Do not try to compress variable-sized varaibles
  cdm/core/src/main/java/ucar/nc2/write/Nc4ChunkingStrategy.java
Labels: bug, iosp: netcdf4

#1425 Add github workflow to generate native libaec libraries
  .github/workflows/libaec.yml
Labels: build: github

#1426 Add basic support for libaec decoding using native libraries
  .github/workflows/test-native-compression.yml
  .gitignore
  native-compression/build.gradle
  native-compression/libaec-jna/build.gradle
  native-compression/libaec-jna/src/main/java/edu/ucar/unidata/compression/jna/libaec/LibAec.java
  native-compression/libaec-jna/src/main/java/edu/ucar/unidata/compression/jna/libaec/SizeT.java
  native-compression/libaec-jna/src/main/java/edu/ucar/unidata/compression/jna/libaec/aec.h
  native-compression/libaec-jna/src/test/java/edu/ucar/unidata/compression/jna/libaec/TestLibAec.java
  native-compression/libaec-native/build.gradle
  settings.gradle
Labels: enhancement, build: gradle, build: github

#1427 grib2: Support for General Unstructured Grid (template 101)
  cdm/core/src/main/java/ucar/nc2/NetcdfFile.java
  cdm/core/src/main/java/ucar/nc2/NetcdfFiles.java
  cdm/core/src/main/java/ucar/unidata/geoloc/projection/UnstructuredProjection.java
  grib/src/main/java/ucar/nc2/grib/grib2/Grib2Gds.java
  grib/src/test/java/ucar/nc2/grib/grib2/TestGdsUnstructured.java
Labels: enhancement, iosp: grib, grib2

#1428 Add support for GRIB2 DRS 42 (CCSDS compression)
  LICENSE
  build.gradle
  docs/src/site/pages/netcdfJava_tutorial/overview/UsingNetcdfJava.md
  grib/build.gradle
  grib/src/main/java/ucar/nc2/grib/grib2/Grib2DataReader.java
  grib/src/main/java/ucar/nc2/grib/grib2/Grib2Drs.java
  grib/src/test/data/sref.pds2.drs42.grib2
  grib/src/test/java/ucar/nc2/grib/grib2/TestDrs42.java
  native-compression/libaec-jna/src/test/java/edu/ucar/unidata/compression/jna/libaec/TestLibAec.java
  native-compression/libaec-jna/src/test/java/edu/ucar/unidata/compression/jna/libaec/TestLibAecMultithreaded.java
  netcdf-java-bom/build.gradle
Labels: enhancement, grib2

#1429 Documentation and downloads changes
  build.gradle
  docs/build.gradle
  docs/src/site/_config.yml
  gradle/any/shared-mvn-coords.gradle
  gradle/root/fatJars.gradle
  gradle/root/publishing.gradle
  project-files/docs/version-info.json
  project-files/downloads/release_info.json
Labels: docs: content, docs: infrastructure, build: gradle
