Repository Unidata/netcdf-java, pull requests merged in 2025-02, with the labels that each got.

#1409 cdm-radial: fix for sigmet volume scan
  cdm/radial/src/main/java/ucar/nc2/iosp/sigmet/SigmetIOServiceProvider.java
  cdm/radial/src/main/java/ucar/nc2/iosp/sigmet/SigmetVolumeScan.java
  cdm/radial/src/test/data/sigmet/BAR250130122328.RAWK8Y1
  cdm/radial/src/test/data/sigmet/BAR250130122328.RAWK8Y1.README
  cdm/radial/src/test/java/ucar/nc2/iosp/sigmet/TestIdeamCo.java
Labels: bug, radial

#1410 Build docs using docker
  docs/build.gradle
  project-files/jenkins/pipelines/docs
Labels: docs: infrastructure, build: gradle

#1417 Update docker image used to build docs
  docs/build.gradle
  project-files/jenkins/pipelines/docs
Labels: docs: infrastructure

#1419 Upgrade github tests to thredds-test-action v3
  .github/workflows/tests.yml
Labels: build: github
